// swift-tools-version: 5.9
import PackageDescription

let package = Package(
    name: "{{.Name}}",
    platforms: [
        .iOS(.v{{.MinIOSMajor}})
    ],
    targets: [
        .executableTarget(
            name: "{{.Name}}",
            path: "Sources/{{.Name}}"
        )
    ]
)
